<div class="layout-login">


	<div class="login_form">
		<a class="justify-content-between" routerLink="/" style="text-decoration: none;"><app-icon-back></app-icon-back> Trang chủ</a><br>
		<!-- Login form container -->
		<form action="#">
			<h2>Log in with</h2><br>


			<!-- Email input box -->
			<div class="input_box">
				<label for="email">Email</label>
				<input type="email" id="email" placeholder="Enter email address" required />
			</div>
			<!-- Paswwrod input box -->
			<div class="input_box">
				<div class="password_title">
					<label for="password">Password</label>
					<a href="#">Forgot Password?</a>
				</div>
				<input type="password" id="password" placeholder="Enter your password" required />
			</div>
			<!-- Login button -->
			<button type="submit">Log In</button>
			<!-- Login option separator -->
			<p class="separator">
				<span>or</span>
			</p>
			<div class="login_option">
				<!-- Google button -->
				<div class="option">
					<a href="#">
						<svg class="google" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 488 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
							<path
								d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z" />
						</svg>
						<span>Google</span>
					</a>
				</div>
				<!-- Apple button -->
				<div class="option">
					<a href="#">
						<svg class="facebook" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
							<path
								d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.7 226.4 209.3 245V327.7h-63V256h63v-54.6c0-62.2 37-96.5 93.7-96.5 27.1 0 55.5 4.8 55.5 4.8v61h-31.3c-30.8 0-40.4 19.1-40.4 38.7V256h68.8l-11 71.7h-57.8V501C413.3 482.4 504 379.8 504 256z" />
						</svg>
						<span>Facebook</span>
					</a>
				</div>
			</div>
			<p class="sign_up">Don't have an account? <a href="#">Sign up</a></p>
			<!-- <p class="sign_up">Quay lại trang chủ <a href="#">Bấm vào đây</a></p> -->
		</form>
	</div>
</div>