.mobile-search-popup {
  position: absolute;
  top: 100%; 
  right: 0;  /* Bám mép phải thay vì mép trái */
  margin-top: 8px;
  background: #fff;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1000;
  width: 200px; /* Hoặc tuỳ bạn */
}

/* Mũi tên */
.mobile-search-popup::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 58px;  /* Đặt mũi tên lệch từ mép phải ra ngoài */
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
}

.mobile-search-popup::after {
  content: "";
  position: absolute;
  top: -7px;
  right: 30px; /* Giống ::before */
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

#userDropdown::after {
  display: none;
}

.search-box {
  position: relative;
  width: 400px; /* hoặc w-50 nếu dùng Bootstrap */
}

.search-box input {
  width: 100%;
  padding: 10px 20px 10px 40px; /* padding-left đủ chứa icon */
  border-radius: 50px; /* bo tròn như hình */
  border: none;
  outline: none;
}

.search-box i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #999;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}




@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  #navbarNav:not(.show) .nav-item {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: none !important; /* quan trọng để tránh transition CSS cản GSAP */
  }
}


